<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @objetivo.nombre %>
</p>

<p>
  <strong>Lineamiento:</strong>
  <%= @objetivo.lineamiento %>
</p>

<%= link_to 'Edit', edit_objetivo_path(@objetivo) %> |
<%= link_to 'Back', objetivos_path %>
