<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @objetivo.nombre %>
</p>

<p>
  <strong>Lineamiento:</strong>
  <%= @objetivo.lineamiento %>
</p>

<%= link_to 'Crear Acción', new_accion_path %> <br />
<%= link_to 'Listar Acciones', accions_path %> <br />

<br />

<%= link_to 'Edit', edit_objetivo_path(@objetivo) %> |
<%= link_to 'Back', objetivos_path %>
